<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />

<h2><%= t 'info.your_city' %></h2>

<%= form_tag html: { class: 'form-search' } do %>
  <%= text_field_tag :locale, nil, id: 'locales', class: 'input-xxlarge search-query', data: { source: @locales.collect { |locale| "#{ locale.name }, #{ locale.state }" } } %>
  <%= submit_tag( t('search'), class: 'btn' ) %>
<% end %>
