<style type="text/css">
#conteudo p{
  text-align: justify;
  margin: 0px;
}
#conteudo {
  margin-bottom: 20px;
}
</style>
<div id="conteudo">
<h2>Sobre Seu Lixo:</h2>
  <p>Site criado durante o Desarrollando América Latina 2012 com a intenção de agregar os dados abertos sobre lixo, possibilitando inferir informações importantes sobre um dos princípais problemas mundiais: o lixo.</p>

  <p>Os destinos do lixo de cada cidade revelam as diretrizes de planejamento urbano adotado por cada município e  como a comunidade está consciente ou não para alternativas ecologicamente mais corretas.</p>

  <p>Atualmente o lixo não é um problema exclusivo do  poder público, e sim da população mundial. Assim como sua solução, movimente-se.</p>

  <p>Seu Lixo foi baseado em dados presentes no IBGE e são datados do ano 2000. Não há dados mais recentes sobre o tema.</p>
  <p>Peça para a prefeitura de sua cidade dados sobre o lixo gerado, é seu direito!</p>

  <p>Mesmo com a pequena quantidade de dados sobre lixo, podemos inferir informações relevantes.</p>

  <h2>Sobre dados abertos:</h2>
  <p>Segundo a definição da Open Knowledge Foundation, em suma, dados são abertos quando qualquer pessoa pode livremente usá-los, reutilizá-los e redistribuí-los, estando sujeito a, no máximo, a exigência de creditar a sua autoria e compartilhar pela mesma licença.</p>
</div>