<div style="background: #ccc; margin: auto; padding: 7px; border-radius: 1em; width: 300px;">
  <p>Envie um e-mail para <b>seulixo@icloud.com</b> com as informações referentes aos dados que deseja atualizar ou inserir.</p>
</div>