
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="span4">
         <!-- <img class="img-circle" src="./files/140x140">-->
          <!-- <h2>Classificação</h2> -->
          <div id='table_div'></div>
        </div><!-- /.span4 -->
        <div class="span12" style="margin-bottom: 50px;">
          <div style="width: 65%; float: left; position:relative;">
            <%= image_tag 'fluxo.png' %>
            <p>Os dados abertos são as ferramentas necessárias para a comunidade inferir informações. Informações aplicadas de boas maneiras ajudam o governo inferir soluções. </p>
          </div>
        <div class="span4" style=" width: 30%; float: right; background: #ccc; border-radius: 1em; position:relative; padding-bottom:10px;">
    <h2>... e como você pode nos ajudar?</h2>
    <a href="cidades" class="btn" id="btn1" style="background: #E2F21F; border-radius: 1em;">Cobre o poder público</a><br /> <!-- Link para guia -->
    <a href="ajude-com-dados" class="btn" id="btn2"style="background: #E2F21F; border-radius: 1em;">Ajude-nos com dados</a> <!-- Link para form -->
    <p style="text-align: justify; margin-top: 5px;">Usamos dados apenas de <b>2000</b> porque não temos dados mais recentes e, ainda assim, os dados de <b>2000</b> são apenas das capitais.</p>
          <!--<img class="img-circle" src="./files/140x140">-->
          <!-- <h2>Destino do lixo no Brasil</h2> -->

        </div><!-- /.span4 -->
          <!-- <h2>Lixo coletado</h2><div id="div_barras"></div> -->
        </div><!-- /.span4 -->
      </div><!-- /.row -->
<style>
  .btn{
    padding:4px 5px;
  }
  #btn1{margin-bottom: 5px;}
  #btn2{margin-top:0px;}
</style>