
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="span4">
         <!-- <img class="img-circle" src="./files/140x140">-->
          <h2>Classificação</h2>
          <div id='table_div'></div>
        </div><!-- /.span4 -->
        <div class="span4">
          <!--<img class="img-circle" src="./files/140x140">-->
          <h2>Lixo coletado</h2><div id="div_barras"></div>

        </div><!-- /.span4 -->
        <div class="span4">
          <!--<img class="img-circle" src="./files/140x140">-->
          <h2>Destino do lixo no Brasil</h2>
          <p><div id='pie'></div></p>
            <p><a class="btn" href="destino.html#">Saiba mais »</a></p>

        </div><!-- /.span4 -->
      </div><!-- /.row -->
