<footer id="footer" class="row">
  <div class="span12">
    <div class="span2">
      <h5>Quem somos?</h5>

      <table id="quem" class="subitem">
        <tr>
          <td><a href="https://github.com/rodrigomello/seu-lixo">CaipiraCat</a></td>
        </tr>
        <tr>
          <td><a href="http://gurusorocaba.com.br/">GURU</a></td>
        </tr>
      </table>
    </div>

    <div class="span2" id="contato"><h5>Contato</h5>
      <table class="subitem">
        <tr>
          <td>seulixo@icloud.com</td>
        </tr>
      </table>
    </div>

    <div class="span2" id="bugs"><h5>Bugs</h5>
      <table class="subitem">
        <tr>
          <td>Em breve...</td>
        </tr>
      </table>
    </div>

    <div class="span2" id="git"><a href="https://github.com/rodrigomello/seu-lixo" target='_blank'><img src="/gt.png"/></a></div>
    <div class="span2"id = "facebook"><a href="https://facebook.com/SLixo" target='_blank'><img src="/facebook.png"/></a></div>
    <div class="span2" id = "twitter"><a href="https://twitter.com/SLixo" target='_blank'><img src="/tw.png"/></a></div>
  </div>
</footer>
